*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.fmt
*.bcf
*.blg
*.run.xml
*.bbl
oefenboekje/_minted-main/
.DS_Store
**/auxdir/
*.fls
presentatie/composition/2022-09-GSNS-beginners/presentatie.fdb_latexmk
presentatie/composition/2022-09-GSNS-beginners/presentatie.bbl
*.pygtex
*.pygstyle
**/_minted-*/
*.fdb_latexmk
*.vrb
