*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.fmt
*.bcf
*.run.xml
oefenboekje/_minted-main/
.DS_Store
**/auxdir/
*.fls
presentatie/composition/2022-09-GSNS-beginners/presentatie.fdb_latexmk
presentatie/composition/2022-09-GSNS-beginners/_minted-presentatie/543078C55D4CE9F720A0E1412641EE0DB47BC3BBFF820C1AE821304CF5EFFC7A.pygtex
presentatie/composition/2022-09-GSNS-beginners/_minted-presentatie/926AA1FF9CE0E1C8816784162EBB0015B47BC3BBFF820C1AE821304CF5EFFC7A.pygtex
presentatie/composition/2022-09-GSNS-beginners/_minted-presentatie/543078C55D4CE9F720A0E1412641EE0DB47BC3BBFF820C1AE821304CF5EFFC7A.pygtex
presentatie/composition/2022-09-GSNS-beginners/_minted-presentatie/543078C55D4CE9F720A0E1412641EE0DB47BC3BBFF820C1AE821304CF5EFFC7A.pygtex
presentatie/composition/2022-09-GSNS-beginners/presentatie.bbl
*.pygtex
